<div class="back-home-icon">
  <a href="login">
    <img src="assets/photo/angle-left.png" alt="Back to Home">
  </a>
</div>

<div class="forgot-password-container">
  <div class="forgot-password-main">
    <h2>Reset Your Password</h2>
    <form>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" placeholder="Enter your email address" required>
      </div>
      <div class="form-action">
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
  </div>
</div>