<div class="shop-container">
  <!-- 輪播圖區域 -->
  <div class="carousel-container">
    <div class="carousel-item active">
      <img src="assets/photo/V.png" alt="Game 1" width="1920px" height="1080px">
    </div>
    <div class="carousel-item">
      <img src="assets/photo/A.png" alt="Game 2">
    </div>
    <div class="carousel-item">
      <img src="assets/photo/O.png" alt="Game 3">
    </div>
  </div>

  <!-- 搜尋欄與返回首頁按鈕 -->
  <div class="search-bar">
    <div class="search-container">
      <input type="text" placeholder="Search for games...">
      <button type="submit">Search</button>
    </div>
    <div class="back-home-icon">
      <a href="index.html">
        <img src="assets/photo/angle-left.png" alt="Back to Home" >
      </a>
    </div>
  </div>

  <!-- 遊戲分類區域 -->
  <div class="category-section">
    <div class="category-item">
        <img src="assets/photo/WR.png" alt="Action">

    <div class="item-details">
      <h4>LOLM：激鬥峽谷</h4>
      <p>規格：
        <select>
          <option value="S款">S款 4500/月</option>
          <option value="A款">A款 3500/月</option>
        </select>
      </p>
      <p>數量：
        <select>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </p>
      <button class="btn-add">加入購物車</button>
    </div>
  </div>
    <div class="category-item">
        <img src="assets/photo/O.png" alt="Adventure">
    </div>
    <div class="category-item">
        <img src="assets/photo/A.png" alt="RPG">
    </div>
    <div class="category-item">
        <img src="assets/photo/V.png" alt="Sports">
    </div>
    <div class="category-item">
        <img src="assets/photo/TT.png" alt="Sports">


      <div class="item-details">
        <h4>英雄聯盟：聯盟戰棋</h4>
        <p>規格：
          <select>
            <option value="永久款">永久款 4000/月</option>
          </select>
        </p>
        <p>數量：
          <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </p>
        <button class="btn-add">加入購物車</button>
        
      </div>
    </div> 
    
  </div>
</div>
